.container,
.container-fluid {
    padding-left: 100px;
    padding-right: 100px;
}

.container>.row:not(.no-gutters),
.container-fluid>.row:not(.no-gutters) {
    margin-left: -100px;
    margin-right: -100px;
}

.container>.row:not(.no-gutters)>.col:not(.no-gutters),
.container>.row:not(.no-gutters)>[class*='col-']:not(.no-gutters),
.container-fluid>.row:not(.no-gutters)>.col:not(.no-gutters),
.container-fluid>.row:not(.no-gutters)>[class*='col-']:not(.no-gutters) {
    padding-left: 100px;
    padding-right: 100px;
}