.hero {
    padding-top: 120px !important;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('https://f.hubspotusercontent00.net/hubfs/6501007/Situ-Live-Slinky-RGB-Blue-1.png');
}

@media screen and (min-width: 992px) {
    .hero {
        padding-top: 180px !important;
    }
}

.hero h1 {
    margin-bottom: 0;
}

.form-container {
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url('https://f.hubspotusercontent00.net/hubfs/6501007/Situ-Live-Slinky-RGB-Blue-1.png');
}

.form-container h1 {
    font-size: 22px !important;
    color: #081d4d !important;
}

@media screen and (min-width: 992px) {
    .form-container h1 {
        font-size: 30px !important;
    }
}

.form-container .img-header {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url('https://f.hubspotusercontent00.net/hubfs/6501007/book%20spreads%20mock%20up.png');
    min-height: 500px;
}

.form-container .section-jade .container,
.form-container .section-jade .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
}

.form-container .section-jade .container>.row:not(.no-gutters),
.form-container .section-jade .container-fluid>.row:not(.no-gutters) {
    margin-left: -40px;
    margin-right: -40px;
}

.form-container .section-jade .container>.row:not(.no-gutters)>.col:not(.no-gutters),
.form-container .section-jade .container>.row:not(.no-gutters)>[class*='col-']:not(.no-gutters),
.form-container .section-jade .container-fluid>.row:not(.no-gutters)>.col:not(.no-gutters),
.form-container .section-jade .container-fluid>.row:not(.no-gutters)>[class*='col-']:not(.no-gutters) {
    padding-left: 40px;
    padding-right: 40px;
}

@media screen and (min-width: 1199px) {

    .form-container .section,
    .form-container .img-header {
        width: 80vw;
    }

    .form-container .section-jade {
        padding-top: 0;
        padding-bottom: 40px;
        position: absolute;
        top: 0;
        right: 0;
        width: 500px;
        transform: translateX(-6vw);
    }
}

.divide {
    border-top: 1px solid #A5A5A6;
    padding-top: 40px;
}

.container-fluid .divide:last-child {
    margin-top: 16px;
}