.hero {
    padding-top: 180px !important;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('https://f.hubspotusercontent00.net/hubfs/6501007/Situ-Live-Slinky-RGB-Blue-1.png');
}

.hero h1 {
    margin-bottom: 0;
}

.form-container {
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url('https://f.hubspotusercontent00.net/hubfs/6501007/Situ-Live-Slinky-RGB-Blue-1.png');
}

.form-container .img-header {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url('https://f.hubspotusercontent00.net/hubfs/6501007/holding-image.jpg');
    min-height: 500px;
}

@media screen and (min-width: 1418px) {

    .form-container .section,
    .form-container .img-header {
        width: 1068px;
    }

    .form-container .section-jade {
        position: absolute;
        top: 0;
        left: 818px;
        width: 500px;
    }
}