.btn {
  border-radius: 25px;
  padding: 0 40px;
  line-height: 46px;
  border-width: 2px;
  font-family: 'EuclidTriangleSemiBold';
  font-size: 24px;
}

@media screen and (max-width: 481px) {
  .btn {
    width: 100%;
    display: block;
  }
}

.btn-secondary {
  background-color: #00c8b7;
  border-color: #00c8b7;
  color: white;
}