@font-face {
  font-family: "SituLiveBold";
  src: url("https://f.hubspotusercontent00.net/hubfs/6501007/situlive-bold.woff2") format("woff2"),
    url("https://f.hubspotusercontent00.net/hubfs/6501007/situlive-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SituLiveLight";
  src: url("https://f.hubspotusercontent00.net/hubfs/6501007/situlive-light.woff2") format("woff2"),
    url("https://f.hubspotusercontent00.net/hubfs/6501007/situlive-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "EuclidTriangleSemiBold";
  src: url("https://f.hubspotusercontent00.net/hubfs/6501007/euclidtriangle-semibold.woff2") format("woff2"),
    url("https://f.hubspotusercontent00.net/hubfs/6501007/euclidtriangle-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

body {
  color: #081d4d;
  font-family: "SituLiveLight" !important;
  line-height: 1.4;
  word-break: break-word;
  font-size: 18px;
}

@media (max-width: 767px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 16px;
  }
}

html[lang^="ja"] body,
html[lang^="zh"] body,
html[lang^="ko"] body {
  line-break: strict;
  word-break: break-all;
}

/* Paragraphs */

p {
  font-family: "SituLiveLight" !important;
  margin: 0 0 24px;
}

b,
strong {
  font-family: "SituLiveBold" !important;
}

/* Anchors */

a {
  color: #0270E0;
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #494A52;
  font-family: 'EuclidTriangleSemiBold' !important;
  font-weight: 700;
  margin: 0 0 1.4rem;
}

h1 {
  font-size: 42px !important;
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 90px !important;
  }
}

h2 {
  font-size: 20px !important;

}

@media screen and (min-width: 992px) {
  h2 {
    font-size: 36px !important;
  }
}

h3 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

/* Lists */

ul,
ol {
  margin: 0 0 1.5rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
}

ul.no-list {
  list-style: none;
}

/* Code blocks */

code {
  vertical-align: bottom;
}

/* Blockquotes */

blockquote {
  border-left: 2px solid #A9A9A9;
  margin: 0 0 1.4rem;
  padding-left: 15px;
}

/* Horizontal rules */

hr {
  background-color: #CCC;
  border: none;
  color: #CCC;
  height: 1px;
}

/* Subscripts and superscripts */

sup,
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Focus styles */

:focus {
  outline: auto;
  outline-color: green;
}

.disable-focus-styles :focus {
  outline: none;
}