<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main>

  <section class="section section-dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h1>Retail: The Quantum Shift</h1>
        </div>
        <div class="col">
          <a class="btn btn-secondary float-right">Jump to form</a>
        </div>
      </div>
    </div>
  </section>

</main>
{% endblock body %}