<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main>

  <section class="section section-dark hero">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6">
          <h1>Retail: The Quantum Shift</h1>
        </div>
        <div class="col-xl-6 d-flex flex-column justify-content-end">
          <div>
            <a class="btn btn-secondary float-xl-right mb-3 mt-5" href="#form">DOWNLOAD THE REPORT</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-grey">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <h2>Bringing products to life with a radical new approach to retail.</h2>
          <p>Brands are frustrated. Outdated retail models provide little control over how their products are presented.
            They can’t effectively engage directly with new consumers, or really demonstrate how they will make their
            lives better.</p>
          <p>But things are about to change. Retail: The Quantum Shift explores the problems facing brands in retail,
            and how new approaches are changing the dynamic.</p>
          <ul class="styled">
            <li>The value of personal interactions</li>
            <li>Competing for attention and interest</li>
            <li>Providing genuine help and engagement</li>
            <li>A radical new model for a new era of experiential retail</li>
          </ul>
        </div>
        <div class="col-lg-6">

          <div class="d-flex justify-content-center">

            <img class="img-fluid" src="https://f.hubspotusercontent00.net/hubfs/6501007/SituLive-Cover-right-new.png"
              alt="" />

          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="form-container section-dark">
    <div class="img-header"></div>
    <div class="section section-white">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-8">
            <h2>How can brands inspire loyalty and advocacy in a new retail environment?</h2>
            <p>Making an impact and building brand love is about much more than adding a few bells and whistles to a
              tired old retail formula.</p>
            <p>This report gets to the heart of what motivates consumers and why brands need to take advantage of a new,
              more experiential approach.</p>
            <ul class="styled">
              <li>Analysis of changing buyer behaviour</li>
              <li>Overcoming the cost of reaching new customers</li>
              <li>Opportunities for meaningful engagement and experiences</li>
              <li>A new approach to delivering the ‘wow’ factor</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-jade" id="form">

      <div class="container-fluid">
        <div class="row">
          <div class="col">
            {% form "my_form" form_to_use='954a7de9-5538-4b24-a5ec-55ed2feb2998' %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-grey">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 col-xl-4">
          <h4>“Things are about to change.<br />You could call it a renaissance.<br />An awakening.<br />A quantum shift
            that will redefine retail.”</h4>
          <p>— Warren Richmond - CEO, Situ Live</p>

          <div class="d-flex justify-content-center">

            <img class="img-fluid" src="https://f.hubspotusercontent00.net/hubfs/6501007/SituLive-Cover-left-new.png"
              alt="" />

          </div>



        </div>
        <div class="col-lg-7 col-xl-8">

          <div class="divide">
            <h2>Retail is broken, but it’s not dead yet.</h2>
            <div class="row">
              <div class="col-md-6">
                <p><strong>All too often, innovative consumer technology products languish on shelves, lost in a busy
                    environment and rarely brought to life in any meaningful way.</strong></p>
                <p><strong>The result? </strong></p>
              </div>
              <div class="col-md-6">
                <p>Consumers have no idea how the products they buy could make their lives better. They have no affinity
                  for the brands they do buy, and little awareness of the ones they don’t.</p>
              </div>
            </div>
          </div>

          <div class="divide">
            <h2>Now, there’s another way.</h2>
            <div class="row">
              <div class="col-md-6">
                <p><strong>We know people respond to stories delivered with passion. And we know they want to be excited
                    by new experiences. And we know they want
                    to be excited by new experiences.</strong></p>
              </div>
              <div class="col-md-6">
                <p>Now is the time for innovative brands to embrace this reality and leverage a new world of
                  experiential retail.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-lg-5 col-xl-4">
          <a class="btn btn-secondary btn-block" href="#form">DOWNLOAD THE REPORT</a>
        </div>
      </div>
    </div>
  </section>

</main>
{% endblock body %}