<!--
  templateType: page
  isAvailableForNewContent: true
  label: Thankyou
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main>

    <section class="section section-dark hero">
        <div class="container-fluid">
            <h1>Your report is ready for download</h1>
            <h4 class="white">Don't worry, there's also a copy on the way over to your inbox for safe keeping.</h4>
            <a class="btn btn-secondary mb-3"
                href="https://connect.situlive.com/hubfs/SituLive_Retail_The_Quantum_Shift.pdf" target="_blank">Download
                your copy</a>
        </div>
    </section>

    <section class="section section-grey">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5">
                    <h4>“Things are about to change.<br />You could call it a renaissance.<br />An awakening.<br />A
                        quantum shift
                        that will redefine retail.”</h4>
                    <p>— Warren Richmond - CEO, Situ Live</p>

                    <div class="d-flex justify-content-center mb-4 mt-4">

                        <img class="img-fluid"
                            src="https://f.hubspotusercontent00.net/hubfs/6501007/SituLive-Cover-left-new.png" alt="" />

                    </div>



                </div>
                <div class="col-lg-7">

                    <h2>Retail is broken, but it’s not dead yet.</h2>

                    <p><strong>All too often, innovative consumer technology products languish on shelves,
                            lost in a busy
                            environment and rarely brought to life in any meaningful way.</strong></p>
                    <p><strong>The result? </strong></p>


                    <ul class="styled">
                        <li>The value of personal interactions</li>
                        <li>Competing for attention and interest</li>
                        <li>Providing genuine help and engagement</li>
                        <li>A radical new model for a new era of experiential retail</li>
                    </ul>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <a class="btn btn-secondary btn-block" href="https://www.situlive.com/contact">Get in touch</a>
                </div>
            </div>
        </div>
    </section>

</main>
{% endblock body %}