<!--
  templateType: page
  isAvailableForNewContent: true
  label: Thankyou
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main>

    <section class="section section-dark hero">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-8">
            <h1>Your report is ready to download</h1>
            <h4 class="white">Don’t worry, we’ll also send a copy to your inbox for safe keeping.</h4>
            <a class="btn btn-secondary mb-3"
                href="https://connect.situlive.com/hubfs/SituLive_Retail_The_Quantum_Shift.pdf" target="_blank" data-category="engage" data-action="download">Download
                your copy</a>              
            </div>
          </div>
        </div>
    </section>

    <section class="section section-grey">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 order-last order-xl-first">
                    <h4>“We believe retail outlets need to become experiential centres, facilitating a deeper connection between brands and their customers.”</h4>
                    <p>— Warren Richmond - CEO, Situ Live</p>

                    <div class="d-flex justify-content-center mb-4 mt-4">
<div>
  
  
                        <img class="img-fluid"
                            src="https://f.hubspotusercontent00.net/hubfs/6501007/SituLive-Cover-left-new.png" alt="" />
                    </div>
                    </div>



                </div>
                <div class="col-xl-6 order-first order-xl-last">

                  <h2>Thanks for downloading Retail: The Quantum Shift</h2>

                  <p><strong>In 2021, Situ Live will give innovative brands a unique platform to bring their products to life with a radical new approach. If you’d like to learn more about our flagship venue coming to central London, click below to get in touch. </strong></p>


                  <ul class="styled">
                    <li>The world’s first ‘living magazine’</li>
                    <li>A new era of immersive retail experiences</li>
                    <li>Empowering brands to make connections</li>
                    <li>Combining physical experiences with digital innovation</li>
                  </ul>

                  <div class="d-flex mb-4 mt-4">
                    <a class="btn btn-secondary" href="https://www.situlive.com/contact" data-category="navigate" data-action="internal link">Get in touch</a>
                  </div>
                  
                </div>
            </div>
        </div>
    </section>

</main>
{% endblock body %}