<!--
  templateType: page
  isAvailableForNewContent: true
  label: Venue Specification
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main>

  <section class="section section-dark hero">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-8">
          <h1>SITU LIVE VENUE SPECIFICATION</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-grey">
    <div class="container-fluid">
      <div class="row">
        <div class="col terms">

          <p>This document confirms the standard features and benefits of each of the Situ Live subscription plans.</p>
          <h2>All plans include:</h2>
          <h3>
            In Venue Services
          </h3>
          <h4>
            Theatres
          </h4>
          <p>
            The layout of each Situ Live venue is based on a series of theatres. Each theatre is designed by the Situ Live expert design team to suit a lifestyle theme.
          </p>
          <h4>
            Refit
          </h4>
          <p>
            On occasions Situ Live will refit the fixtures and fittings, graphics, lighting, displays and experiential props to suit changing lifestyle tastes, seasonal features or to maintain repeat visitors’ interest. Refit plans can be reviewed on request.
          </p>
          <h4>
            Support
          </h4>
          <p>
            Situ Live will provide first line support for the demo units – checking that the device/appliance is operational, connected and maintained in accordance with the operational manual.
          </p>
          <h3>
            Merchandising
          </h3>
          <h4>
            Product display
          </h4>
          <p>
            Each demo unit will be merchandised with product name, branding and a unique QR code. The QR code will be connected to the online Product Detail page to enable a seamless connection for visitors and/or advisers to understand and purchase the product.
          </p>
          <p>
            All logos must be consistent in format, size, and a single neutral colour. We will work with brand identity teams to ensure compliancy with the brand’s guidelines.
          </p>
          <h3>
            Digital Services
          </h3>
          <p>
            We use digital services to:
          </p>
          <ul>
            <li>Attract consumers online and potential future visitors</li>
            <li>To bring the experience of Situ Live to our online audience</li>
            <li>To provide a different style of product information that focuses on how visitors will use products and a clearer understanding of features</li>
            <li>To enable the path to purchase so shoppers can seamlessly connect with D2C brand stores or online retailers to make purchases</li>
            <li>To create engaged Situ Live consumers that we build a relationship with beyond their visit to us – whether that is physically in a venue or via one of our digital channels.</li>
          </ul>
          <p>
            Situ Live digital services will be available across a range of interfaces on web, mobile and voice. At launch visitors will have access to the Situ Live web app at situlive.com.
          </p>
          <h4>
            Venue visitors’ path to purchase
          </h4>
          <p>
            Shoppers to the venue will be able to access the web app in several ways:
          </p>
          <ul>
            <li>They can visit the website on their own mobile device (the same as any online user)</li>
            <li>Next to each demo unit in the venue will be a QR code. Using their own mobile device, they can use their camera app to scan the QR code to find out more about the product, get prices or link to purchase</li>
          </ul>
          <p>
            The content within the web app follows a similar structure to the layout of the venue and is designed around lifestyle themes. Shoppers can browse and search themes, brands and products to understand more about the products and connect with brands/retailers to purchase.
          </p>
          <h4>
            Digital directory and store
          </h4>
          <p>
            Included within the subscription plan is entry in the Situ Live digital directory and store. This is a Situ Live curated collection of the best in lifestyle brands, technology products and services that help people lead a better life. The collection will include the leading brands in respected categories along with many interesting new products from smaller innovative companies. To ensure continuity with our trusted advisor status some brands listed will not feature in Situ Live venues and will be competitors within your category.
          </p>
          <p>
            The collection will include all chosen in situ demo units alongside additional products that the Situ Live team may curate from the brand’s range that meet the Situ Live product criteria and are currently available to purchase from a D2C brand store and/or UK retailers. This will only be a curated selection from a brand’s range and not the entire brand’s range.
          </p>
          <p>
            The inclusion of these products is based on their availability to purchase and will change frequently. If there are specific models a brand wish to exclude they can supply the details and these will be removed from the Situ Live store.
          </p>
          <h4>
            ‘See it in Situ Live’ highlight
          </h4>
          <p>
            When visitors browse the digital store, any product(s) that are available as demo units within a Situ Live venue will be highlighted and promoted so that it is clear to visitors that they can get a real-life demonstration of this product in situ.
          </p>
          <h4>
            Leads to brand store
          </h4>
          <p>
            Shoppers can view pricing for products. Prices and availability are sourced from retailer feeds where available. Brands can supply a price feed for products from their own brand store. Pricing will appear as a featured brand store and can include additional benefit text supplied by the brand.
          </p>
          <p>
            Shoppers can click through to the retail product detail page to view more detailed specification information and to complete a purchase.
          </p>
          <h4>
            Customised brand pillar page
          </h4>
          <p>
            In addition to including products in the Situ Live online catalogue we will customise a brand ‘pillar’ page for the brand. A pillar page is a page dedicated to the brand. The page will display information about the Situ Live venue location and details/links of the demo unit products on display. The pillar page can be used as a destination page into Situ Live for the brand. We will customise the hero image and include branding.
          </p>
          <h4>
            Conversion assets for D2C stores
          </h4>
          <p>
            Digital assets will be available to allow our partners to include a ‘See it in Situ Live’ button/banner alongside products in their D2C brand store – this can aid conversion of visitors who come direct to the D2C brand store but are unlikely to buy without seeing and experiencing the product. The button/banner can link to the brand pillar page or the pillar page content can be delivered as headless content to be displayed within the D2C store.
          </p>
          <h4>
            Analytics dashboard
          </h4>
          <p>
            Track performance and measure success from one central dashboard. The subscription plan gives a number of users access to a personalised analytics dashboard providing insight into how visitors have engaged with the brand.
          </p>
          <p>
            The dashboard reports on the visitor numbers within the venue and the nominated theatre, visibility and engagement with stories and products and the number of leads to retailers.
          </p>
          <p>
            Every visitor interaction in the venue and online is tracked and recorded in compliance with GDPR. The Situ Live Data Science team transform this data into the analytics dashboard.
          </p>
          <h3>
            Additional features included in Anchor and Showcase plans only
          </h3>
          <h4>
            Story Demo units
          </h4>
          <p>
            These are devices/appliances or services supplied by a brand for display on a contemporary display unit in the nominated theatre and used within our storytelling frameworks.
          </p>
          <h4>
            Refresh of demo units
          </h4>
          <p>
            Situ Live will biannually review with brands the story demo units and where necessary the brand will supply suitable replacements. Situ Live will adjust any content that may be affected by the change.
          </p>
          <p>
            At other times if a story demo unit becomes permanently unavailable to purchase in the UK or the Situ Live product experts are aware that the model of a story demo unit is out-of-date, we will request a suitable replacement to be supplied. Situ Live will adjust any content that may be affected by the change.
          </p>
          <p>
            Any requests made by a brand to change story demo units for other reasons or outside the biannual review will be considered but may be subject to additional cost.
          </p>
          <p>
            Any replacement story demo units that require Situ Live changing the theatre infrastructure or fitout may be subject to additional cost.
          </p>
          <p>
            Situ Live will provide a quotation of any additional costs before commencing any changes.
          </p>
          <h4>
            Stories
          </h4>
          <p>
            The brand and products will feature in a series of inspirational live stories – delivered by the Situ Live talented team of presenters.
          </p>
          <p>
            Stories will be based around relevant and engaging topics, lifestyle activities, usage scenarios or inspirational tales. Stories blend a range of different categories and contextualise products in a way that helps visitors make sense of them in their everyday life.
          </p>
          <p>
            Where appropriate products will be featured either directly referenced or displayed in use as part of the experience providing context and inspiration. To ensure stories are realistic and honest products will be blended into the presentations with other brands products.
          </p>
          <p>
            Stories will be delivered throughout the day, every day. Situ Live will deliver a minimum of 8 stories per day in the nominated theatre (the frequency will vary depending on peak and off-peak times and fluctuations in visitor numbers).
          </p>
          <h3>
            Additional features included in Anchor plan only
          </h3>
          <h4>
            Relationship management
          </h4>
          <p>
            The Brand Partner is allocated a Partner Relationship Manager who will support any day to day enquiries with access to the Senior Management Team to assist with strategic decisions or development.
          </p>
          <h4>
            Venue Branding
          </h4>
          <p>
            Anchor partners will be a sponsor of the nominated theatre with prominent branding on the outside and inside the theatre. Any opportunities across the venue to reference the nominated theatre will include reference to the brand.
          </p>
          <h3>
            Features included in Discovery plans only
          </h3>
          <h4>
            Display Demo units
          </h4>
          <p>
            These are devices/appliances or services supplied by a brand for display on a contemporary display unit in the nominated theatre. These will be used predominately to support Product Demos.
          </p>
          <h3>
            Features, conditions and additional dependencies for the STAGE option
          </h3>
          <p>“Stage” means the Situ Live stage located within the Situ Live Westfield venue. Only the stage and not including any other parts of the venue.</p>
          <h4>
            Stage and Boardroom access and facilities
          </h4>
          <ul>
            <li>Stage hire is inclusive of exclusive use of the Boardroom as set out below.</li>
            <li>Build and break down time will vary by CLIENT activation and will be agreed in advance by both parties. SITU will employ a simple differential in the first instance.
              <ul>
                <li>‘Plug and Play’ activations will assume no build or break down time is required; CLIENT can use the basic backline provided by Situ for their activation and utilise the Boardroom, for a maximum of one hour either side of their activation.</li>
                <li>‘Full Service’ activation will require production elements to be built by CLIENT outside of normal retailing hours (10am-10pm Monday – Saturday and 12-6pm Sunday). This will require CLIENT taking the stage for a full day, ensuring the build of the activation is complete and all relevant risk assessments and method statements complete before SITU opens and breaking down the production assets once SITU has closed for the day.</li>
              </ul>
            </li>
            <li>CLIENT will return the Stage and Boardroom areas to the pristine condition they were found in and agree to provide, and make sole payment of, any cleaning or repair requirements over and above normal SITU practices.</li>
            <li>SITU is unable to provide storage space. CLIENT will need to deliver and remove all demo/display units, and production elements within the timelines agreed.</li>
            <li>SITU can provide front line AV assistance for basic requests and using the SITU backline/AV provided. Any AV requirements over and above this will be provided by CLIENT, at CLIENT’s sole expense and in line with SITU and Westfield policies and procedures.</li>
          </ul>
          <h4>
            Content
          </h4>
          <ul>
            <li>Scheduling and management of all stage content is exclusively managed by SITU. </li>
            <li>CLIENT agrees to provide SITU with full view of all and any stage content before the activation.</li>
            <li>All stage content must be approved by SITU before the activation. SITU retains the right to review and refuse content it deems to be inappropriate for the live retail setting.</li>
            <li>All stage content must be family friendly. No swear words, no selling, no promotion of illegal or illicit activities or substances. </li>
            <li>Failure to comply with these guidelines will result in CLIENT being asked to leave the Stage, vacate the premises and SITU reserves its right to take appropriate action in relation to any possible reputational damage to SITU.</li>
          </ul>
          <h4>
            Policies and Safety
          </h4>
          <ul>
            <li>CLIENT will adhere to all SITU instructions, policies and health and safety guidelines. Including but not limited to, the provision of all risk assessments, method statements, licenses, permits and processes as required by SITU or Westfield.</li>
            <li>CLIENT will provide evidence on request of the appropriate insurances required for public performance including anything over and above requirements laid out in the main Agreement terms.</li>
            <li>CLIENT understands that SITU is a live retail environment and as such any activation needs to be designed to ensure that consumers can move around the venue freely without risk from trip hazards, falling items, electrical or other risks.</li>
            <li>CLIENT understands that SITU is a live retail venue and as such noise and amplification restrictions are in place and are exclusively managed by the SITU venue team who reserve the right to reduce volumes of activations to acceptable levels. Where possible, amplification should be avoided, acoustic musical support is encouraged.</li>
          </ul>
          <h3>Features, conditions and additional dependencies for the WINDOW option</h3>
          <p>“Window” refers to the left front window of the Situ Live venue located in Westfield London.</p>
          <ul>
            <li>Scheduling, visual merchandising and management of all window content is exclusively managed by SITU.</li>
            <li>Demo/display units positioned in the window will not be live or demonstrable. </li>
            <li>Demo/display units must measure less than 1m high x 1m wide x 800mm deep to be displayed in the window.</li>
            <li>No digital or fixed content, sales messages, or other forms of communication, visual or audio, can be displayed in the window unless expressly agreed to by SITU.</li>
            <li>SITU is unable to provide storage space. CLIENT will be required to deliver and remove all demo/display units, and production elements within the timelines agreed.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</main>
{% endblock body %}